.order-confirmation {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 40px;
  }
  
  .success-icon img {
    width: 100px;
    height: 100px;
  }
  
  h2 {
    font-size: 24px;
    color: #4caf50;
    margin-top: 10px;
  }
  
  p {
    font-size: 16px;
    color: #555;
  }
  
  .order-id {
    font-weight: bold;
    color: #8d1983;
  }
  
  .delivery-details {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px auto;
    width: 60%;
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: left;
  }
  
  .delivery-details h3 {
    font-size: 18px;
    color: #555;
    margin-bottom: 10px;
  }
  
  .home-tag {
    border:1px solid green;
   
    color: green;
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 12px;
    margin-left: 10px;
  }
  
  .delivery-details p {
    margin: 5px 0;
    font-size: 14px;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .continue-shopping {
    background-color: #8d1983;
    color: white;
  }
  
  .view-order {
    background-color: #8d1983;
    color: white;
    width:190px;
  }
  
  button:hover {
    background-color: #6c0f66;
  }
  