.payment-page {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f8f8f8;
    height: 100vh;
  
  }
  
  .breadcrumb11 {
    text-align: center;
    font-size: 14px;
    color: #666;
    margin-left: 10%;
  }
  
  .highlight1 {
    color: #8d1983;
    font-weight: bold;
  }
  
  .payment-heading {
    color: #8d1983;
    text-align: left;
    margin: 20px 0;
  }
  
  .payment-container {
    display: flex;
    justify-content: space-between;
  }
  
  .payment-options {
    width: 50%;
    height: 230px;
  }
  
  .dropdown {
    border: 0px solid #ccc;
    border-radius: 4px;
    margin-bottom: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .dropdown-header {
    padding: 10px;
    /* background-color: #fff; */
    /* font-weight: bold; */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .arrow {
    font-size: 10px;
    color: #666;
  }
  
  .dropdown-content {
    padding: 10px;
    /* background-color: #f9f9f9; */
    border-top: 1px solid #ccc;
  }
  
  .price-details {
    width: 35%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    /* background-color: #fff; */
  }
  
  .price-details h3 {
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
  }
  
  .price-details p {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    font-size: 14px;
    color: #555;
  }
  
  .price-details hr {
    margin: 10px 0;
    border: 1px solid #eee;
  }
  
  .total-amount {
    font-weight: bold;
    color: #000;
  }
  .functionality{
    background-color: #8d1983;
    width:95px;
    height:40px;
    border-radius: 10px;
    margin-left: 40%;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .arrow {
    width: 16px; /* Adjust size */
    height: 16px; /* Adjust size */
    margin-left: 8px; /* Space between text and arrow */
  }
  
  